/* Add a black background color to the top navigation */
.topnav {
    background-color: #6090bd;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #e68c6e;
    color: white;
  }

html, body {
    font-family: 'Roboto', sans-serif;
 
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: 2px;
}

h2 {
    font-weight: 400;
    font-size: 4rem;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    color: #0e5eab;
}
h4 {
    font-size: 1.0rem;
    letter-spacing: 1px;
    text-align: center;
    color: #000103;
}
h5 {
    font-size: 1.5rem;
}
h7  {
    font-size: 1.0rem;
    letter-spacing: 1px;
    text-align: left;
    color: #000103; 
}

.btn-primary {
    background-color: #f08582;
    border-color: #f08582;
    padding: 5px 30px;
}

.btn-primary:hover,
.btn-primary:active, 
.btn-primary:focus {
    background-color: #f39d9b !important;
    border-color: #f39d9b !important;
}

.title-underline{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #fff, #0e5eab, #fff);
    max-width: 350px;
    margin-bottom: 50px;
}

.fragment {
    padding: 100px 0;
}

.fragment-one {
    background-color: #fae4c9;
    color: #f08582;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.fragment-one h1 {
    margin: 50px 0;
}

.fragment-one h3 {
    margin: 50px 0;
}

.fragment-one p, .fragment-two p {
    margin-bottom: 0;
}

.fragment-one i {
    margin-bottom:30px;
}

.fragment-two {
    background-color: #fff9f1;
    color: #f84a12;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.fragment-two h5 {
    margin: 50px 0;
    font-weight: 300;
    line-height: 1.3;
}

.fragment-two p, .fragment-two i {
    color: #0e5eab
}

.fragment-three {
    background-color: #ffffff;
    color: #0e5eab;
}

.fragment-three .carousel {
    max-width: 800px;
}

.fragment-three .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.fragment-three .carousel-caption {
    color: #999
}

.fragment-three .custom-indicator {
    background-color: #f84a12 !important;
}

.fragment-four {
    background-color: #fae8e3;
    color: #0e5eab;
}

.fragment-four i {
    color: #f84a12;
}

.fragment-four .labels {
    color: #657b83;
    margin: 10px;
    text-align: center;
    min-width: 70%;
    background: rgba(255,255,255,0.7)
}

.fragment-four .tech {
    padding: 0.8em;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #eee;
    font-size: 1.2rem;
    margin: 0;
}
.fragment-four .tech:hover {
    transition-duration: 0.3s;
    background: rgba(255,255,255,1)
}


.fragment-five {
    background-color: #fee4c6;
    padding: 50px;
    color: #f84a12;
    text-align: center; 
}


.fragment-five h5 {
    font-weight: 300;
    line-height: 1.3;
}

.fragment-five .credential {
    color: #999;
    margin-bottom: 50px;
    font-weight: 300;
}

.fragment-six {
    padding: 20px;
}

.fragment-six h6 {
    color: #f84a12;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 20px;
    /* letter-spacing: 2px; */
}
.fragment-six .social-icon {
    color: #0e5eab;
    font-size: 1.2rem;
    margin-right: 15px;
    margin-bottom: 20px;
}

.fragment-six .copyright {
    margin: 10px 0;
    font-size: 0.8rem;
}

#timeline .timeline-item:after, #timeline .timeline-item:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

#timeline {
    width: 100%;
    margin: 100px auto;
    position: relative;
    padding: 0 10px;
    transition: all 0.4s ease;
}
#timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #0e5eab;
    left: 50%;
    top: 0;
    position: absolute;
}
#timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
}
#timeline .timeline-item {
    margin-bottom: 50px;
    position: relative;
}
#timeline .timeline-item .timeline-icon {
    background: #0e5eab;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: -23px;
    border-radius: 50%;
}
#timeline .timeline-item .timeline-icon {
    display:flex;
}
#timeline .timeline-item .timeline-content {
    width: 45%;
    background: #fff;
    padding: 20px;
    border-radius: 0;
    transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h2 {
    padding: 15px;
    background: #0e5eab;
    color: #fff;
    margin: -20px -20px 0 -20px;
    font-weight: 300;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
#timeline .timeline-item .timeline-content:before {
    content: '';
    position: absolute;
    left: 45%;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #0e5eab;
}
#timeline .timeline-item .timeline-content.right {
    float: right;
}
#timeline .timeline-item .timeline-content.right:before {
    content: '';
    right: 45%;
    left: inherit;
    border-left: 0;
    border-right: 7px solid #0e5eab;
}
.btn {
    background-color: #0e5eab;
  border: 2px solid #0e5eab;
  color: #fff;
  border-radius: 0;

  